

<!DOCTYPE html>
<html lang="en">

<body class="mobile-shift">
    <header id="generator">
        <div class="claim-lockup">
            <div class="claim">
            </div>
        </div>
        <div class="angled-overlay"></div>
        
    </header>
    @model Helper.External.Model.User
    @{
        ViewBag.Title = "Create a User";
        Helper.External.Model.User details = (Helper.External.Model.User)ViewBag.User;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <secion id="generator" class="grid">
        <div class="container-fluid">
            <h1>
                Generate Your Workout
            </h1>
           
            @using (Html.BeginForm("ViewModel", "Generator", FormMethod.Post))
            {
                <table cellpadding="2" cellspacing="2">
                    <tr>
                        <th colspan="2" align="center">Person Details</th>
                    </tr>
                    <tr>
                        <td>Current Weight: </td>
                        <td>
                            @Html.TextBoxFor(m => m._currentweight)
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Target Weight: </td>
                        <td>
                            @Html.TextBoxFor(m => m._targetweight)
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Age: </td>
                        <td>
                            @Html.TextBoxFor(m => m._age)
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Height: </td>
                        <td>
                            @Html.TextBoxFor(m => m._height)
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Gender: </td>
                        <td>
                            @Html.DropDownListFor(m => m._gender, new List<SelectListItem>
                            { new SelectListItem{Text="Male", Value="MALE"},
                            new SelectListItem{Text="Female", Value="FEMALE"}}, "Please select")

                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Type: </td>
                        <td>
                            <!--If you want to only select one type of workout-->
                            @*@Html.DropDownListFor(m => m._type, new List<SelectListItem>
                                {new SelectListItem{Text="CARDIO", Value="C"},
                                ectListItem{Text="STRENGTH", Value="S"},
                                ectListItem { Text = "FLEXIBILITY", Value = "F" }}, "Please select") *@
                            @Html.ListBoxFor(m => m._type, new List<SelectListItem>
                             { new SelectListItem{Text="CARDIO", Value=" CARDIO "},
                             new SelectListItem{Text="STRENGTH", Value=" STRENGTH "},
                             new SelectListItem { Text = "FLEXIBILITY", Value = " FLEXIBILITY " }}, "Please select")
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Focus: </td>
                        <td>
                            <!--If you want to only select only one focus area-->
                            @*@Html.DropDownListFor(m => m._focus, new List<SelectListItem>
                                { new SelectListItem{Text="UPPERBODY", Value="UB"},
                                new SelectListItem{Text="CORE", Value="CO"},
                                new SelectListItem{Text="LOWERBODY", Value="LB"}, }, "Please select")*@
                            @Html.ListBoxFor(m => m._focus, new List<SelectListItem>
                            { new SelectListItem{Text="UPPERBODY", Value=" UPPERBODY "},
                            new SelectListItem{Text="CORE", Value=" CORE "},
                            new SelectListItem{Text="LOWERBODY", Value=" LOWERBODY "}, }, "Please select")

                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Difficulty Level: </td>
                        <td>
                            @Html.DropDownListFor(m => m._difficulty, new List<SelectListItem>
                            { new SelectListItem{Text="BEGINNER", Value="1"},
                            new SelectListItem{Text="INTERMEDIATE", Value="2"},
                            new SelectListItem{Text="ADVANCED", Value="3"},
                            }, "Please select")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
            }

        </div>
    </secion>
</body>
</html>
