

<!DOCTYPE html>
<html lang="en">

<body class="mobile-shift">
    <header id="generator">
        <div class="claim-lockup">
            <div class="claim">
            </div>
        </div>
        <div class="angled-overlay"></div>  
    </header>
    @model Helper.External.Model.User
    @{
        ViewBag.Title = "Create a User";
        Helper.External.Model.User details = (Helper.External.Model.User)ViewBag.User;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <secion>
        <div class="container-fluid">
            <h1>
                Generate Your Workout
            </h1>
           
            @using (Html.BeginForm("ViewModel", "Generator", FormMethod.Post))
            {
                <table cellpadding="2" cellspacing="2">
                    <tr>
                        <th colspan="2" align="center">Person Details</th>
                    </tr>
                    <tr>
                        <td>Gender: </td>
                        <td>
                            Male @Html.RadioButtonFor(m => m._gender, "Male")
                            Female @Html.RadioButtonFor(m => m._gender, "Female")
                            @Html.ValidationMessageFor(m => m._gender, "Please enter your gender.", new { @class = "text-danger"})
                            @*
                            @Html.DropDownListFor(m => m._gender, new List<SelectListItem>
                            { new SelectListItem{Text="Male", Value="MALE"},
                            new SelectListItem{Text="Female", Value="FEMALE"}}, "Please select")*@

                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Current Weight: </td>
                        <td>
                            @Html.TextBoxFor(m => m._currentweight)
                            @Html.ValidationMessageFor(m => m._currentweight, "Please enter your current weight.", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Target Weight: </td>
                        <td>
                            @Html.TextBoxFor(m => m._targetweight)
                            @Html.ValidationMessageFor(m => m._targetweight, "Please enter your target weight.", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Age: </td>
                        <td>
                            @Html.TextBoxFor(m => m._age)
                            @Html.ValidationMessageFor(m => m._age, "Please enter your age.", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Height: </td>
                        <td>
                            @Html.TextBoxFor(m => m._height)
                            @Html.ValidationMessageFor(m => m._height, "Please enter your height.", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr></tr>

                    <tr></tr>
                    <tr>
                        <td>Type: </td>
                        <td>
                           
                            @Html.DropDownListFor(m => m._type, new List<SelectListItem>
                            {   new SelectListItem{Text="CARDIO", Value=" CARDIO "},
                                new SelectListItem{Text="STRENGTH", Value=" STRENGTH "},
                                new SelectListItem { Text = "FLEXIBILITY", Value =  " FLEXIBILITY " }}, "Please select") 
                            @Html.ValidationMessageFor(m => m._type, "Please select your preferred type of workout.", new { @class = "text-danger" })

                            @*
                            @Html.ListBoxFor(m => m._type, new List<SelectListItem>
                             { new SelectListItem{Text="CARDIO", Value=" CARDIO "},
                             new SelectListItem{Text="STRENGTH", Value=" STRENGTH "},
                             new SelectListItem { Text = "FLEXIBILITY", Value = " FLEXIBILITY " }}, "Please select")
                            @Html.ValidationMessage("_type", "", new { @class = "text-danger" })
                                *@
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Focus: </td>
                        <td>
                         
                           @Html.DropDownListFor(m => m._focus, new List<SelectListItem>
                                { new SelectListItem{Text="UPPERBODY", Value=" UPPERBODY "},
                                new SelectListItem{Text="CORE", Value=" CORE "},
                                new SelectListItem{Text="LOWERBODY", Value=" LOWERBODY "}, }, "Please select")
                            @Html.ValidationMessageFor(m => m._focus, "Please select your preferred focus area.", new { @class = "text-danger" })

                            @*
                            @Html.ListBoxFor(m => m._focus, new List<SelectListItem>
                            { new SelectListItem{Text="UPPERBODY", Value=" UPPERBODY "},
                            new SelectListItem{Text="CORE", Value=" CORE "},
                            new SelectListItem{Text="LOWERBODY", Value=" LOWERBODY "}, }, "Please select")
                            @Html.ValidationMessage("_type", "", new { @class = "text-danger" })*@

                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Difficulty Level: </td>
                        <td>
                            @Html.DropDownListFor(m => m._difficulty, new List<SelectListItem>
                            { new SelectListItem{Text="BEGINNER", Value="1"},
                                new SelectListItem{Text="INTERMEDIATE", Value="2"},
                                new SelectListItem{Text="ADVANCED", Value="3"},
                            }, "Please select")
                            @Html.ValidationMessageFor(m => m._difficulty, "Please select your difficulty level.", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
            }

        </div>
        
    </secion>
    @Html.ActionLink("Back to List", "Home")
</body>
</html>
