

<!DOCTYPE html>
<html lang="en">

<body class="mobile-shift">
    <header id="generator">
        <div class="claim-lockup">
            <div class="claim">
            </div>
        </div>
        <div class="angled-overlay"></div>
    </header>
    @model Helper.External.Model.User
    @{
        ViewBag.Title = "Create a User";
        Helper.External.Model.User details = (Helper.External.Model.User)ViewBag.User;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <sectoin>
        <div class="container-fluid">

            @using (Html.BeginForm("ViewModel", "Generator", FormMethod.Post))
            {

                <div class="bd-example">
                    -
                    <div class="row">
                        <div style="text-align:center">
                            <div class="text-lockup"></div>
                            <h2>GENERATE YOUR WORKOUT</h2>
                            <img src="~/Content/assets/img/drop-muted.png" />
                            <p> <i> Please fill out the form to the right in order to enable us to customize a workout just for you. </i> </p>
                            <p> <i> By Default, the workout will be generated at an intermediate level, with a focus on the Upper Body and Cardio. </i></p>
                        </div>


                        <!--First and Last Name Form Group-->

                        <div class="input-group" style="padding-bottom:15px; align-content:center">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">FIRST 	&amp; LAST NAME &amp; Age</span>
                            </div>
                            @Html.TextBoxFor(m => m._fName, new { @class = "from-control", placeholder = "Name..", required = "required" })
                            @Html.TextBoxFor(m => m._lName, new { @class = "from-control", placeholder = "Last Name..", required = "required" })
                            @Html.TextBoxFor(m => m._age, new { @class = "from-control", placeholder = "Age..", required = "required" })
                        </div>
                    </div>

                    <!-----BEGININING OF 2ND ROW IN THE FORM------------------------------------------------------------------->

                    <div class="row">
                        <div class="col">
                            <div class="input-group" style="padding-bottom:15px; align-content:center">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">TYPE</label>
                                </div>
                                <div class="custom-select" id="inputGroupSelect01">
                                    @Html.DropDownListFor(m => m._type, new List<SelectListItem>
                                    {   new SelectListItem{Text="CARDIO", Value=" CARDIO ", Selected = true },
                                    new SelectListItem{Text="STRENGTH", Value=" STRENGTH "},
                                    new SelectListItem { Text = "FLEXIBILITY", Value =  " FLEXIBILITY " }}, "Please select")
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group" style="padding-bottom:15px; align-content:center" ">
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">FOCUS</label>
                                    </div>
                                    <div class="custom-select" id="inputGroupSelect02">
                                        @Html.DropDownListFor(m => m._focus, new List<SelectListItem>
                            { new SelectListItem{Text="UPPERBODY", Value=" UPPERBODY ", Selected = true},
                            new SelectListItem{Text="CORE", Value=" CORE "},
                            new SelectListItem{Text="LOWERBODY", Value=" LOWERBODY "}, }, "Please select")
                                    </div>
                                </div>

                            </div>
                            <div class="col">

                                <div class="input-group mb-3 ">
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">DIFFICULTY</label>
                                    </div>
                                    <div class="custom-select" id="inputGroupSelect02">
                                        @Html.DropDownListFor(m => m._difficulty, new List<SelectListItem>
                                    { new SelectListItem{Text="BEGINNER", Value="1"},
                                    new SelectListItem{Text="INTERMEDIATE", Value="2", Selected = true},
                                 new SelectListItem{Text="ADVANCED", Value="3"},
                                 }, "Please select")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group" style="padding-bottom:15px; align-content:center">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">CURRENT &amp; TARGET WEIGHT &amp; HEIGHT</span>
                                </div>
                                @Html.TextBoxFor(m => m._currentweight, new { @class = "from-control", placeholder = "Weight Here..", required = "required" })
                                @Html.TextBoxFor(m => m._targetweight, new { @class = "from-control", placeholder = "Target Weight Here..", required = "required" })
                                @Html.TextBoxFor(m => m._height, new { @class = "from-control", placeholder = "Height Here..", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-inline">
                            Male    @Html.RadioButtonFor(m => m._gender, "Male", new { @checked = true })
                            Female  @Html.RadioButtonFor(m => m._gender, "Female")
                        </div>
                    </div>
                    

                    <div class="col" style="padding-left:90%;">
                        <input type="submit" value="Submit" />
                    </div>
                </div>
                <!---------END ONE ROW OF FORM ELEMENT--------------------------------------------------------------->
                <!--Gender Form Group-->

            </div>
            }

        </sectoin>
       


        @Html.ActionLink("Back to List", "Home")
    </body>
</html>
